<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/37f07b394f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/login.css">
    <title>Login</title>
</head>
<body>

    <div class="sign_in">

        <div class="login"> 
            <h1>Login</h1>
            <form action="" method="post">

                <div class="email">
                    <label for="user">Username</label><br>
                    <input type="email" name="" required="" id="user">
                </div>
                
                <div class="password">
                    <label for="pwd">Password</label><br>
                    <input type="password" name="" required="" id="pwd">
                </div>
                
                <a href="" class="fpassword">Forgot password</a><br>

                <button type="submit" class="submit">SUBMIT</button>

            </form>

        </div>
       
       

    </div>
    
   
</body>
</html>