<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/section.css">
    <title>Section</title>
</head>
<body>
    <div class="section">
        <div class="cse">
            <img src="./images/cse.png" alt="cse_image" class="cse_img">
            <button type="submit" class="cse-btn">CSE</button>
        </div>
    
        <div class="csd">
            <img src="./images/csd.png" alt="csd_image" class="csd_img">
            <button type="submit" class="csd-btn">CSD</button>
        </div>
    
        <div class="csm">
            <img src="./images/csm.png" alt="csm_image" class="csm_img">
            <button type="submit" class="csm-btn">CSM</button>
        </div>
    
        <div class="it">
            <img src="./images/it.jpg" alt="it_image" class="it_img">
            <button type="submit" class="it-btn">IT</button>
        </div>
    
        <div class="ece">
            <img src="./images/ece.png" alt="ece_image" class="ece_img">
            <button type="submit" class="ece-btn">ECE</button>
        </div>
    
        <div class="eee">
            <img src="./images/eee.png" alt="eee_image" class="eee_image">
            <button type="submit" class="eee-btn">EEE</button>
        </div>
    
        <div class="mec">
            <img src="./images/mec.jpg" alt="mec_image" class="mec_img">
            <button type="submit" class="mec-btn">MEC</button>
        </div>
    
        <div class="che">
            <img src="./images/che.jpg" alt="che_image" class="che_img">
            <button type="submit" class="che-btn">CHE</button>
        </div>
    
        <div class="civil">
            <img src="./images/civil.jpg" alt="civil_image" class="civil_img">
            <button type="submit" class="civil-btn">CIVIL</button>
        </div>
    
        <div class="mrb">
            <img src="./images/mrb.png" alt="mrb_image" class="mrb_img">
            <button type="submit" class="mrb-btn">MRB</button>
        </div>
    </div>
    
</body>
</html>